JIRA_URL=https://swadeshbhushan.atlassian.net

JIRA_EMAIL=swadeshbhushan@gmail.com

JIRA_API_TOKEN=ATATT3xFfGF0EaO9XUkctIDZPdFgqd3OWfrbJAjGF3c92qUXIrF5vjxJlJV3jyrwnoN1exhfblD4MT41swwj7s0hWgUj7w_EQ9xLTj-ta3V4H_T6ip3LEHF_kb4ddw2qArXhpnYlSfCaIWWvYKEpFivhJvnhY0VrPUoClsdVDPwIwX9JVPCLRoY=88A904D2

JIRA_PROJECT=KAN